<%- contentFor('body') %>
<div class="mdc-grid-list mdc-grid-list--twoline-caption">
  <ul class="mdc-grid-list__tiles">
    <% let index = 0; %>
    <% for (let item of items) { %>
      <li class="mdc-grid-tile" style="animation-delay: <%= index++ * 50 %>ms">
        <div class="mdc-grid-tile__primary">
          <img class="mdc-grid-tile__primary-content" src="<%= item.IMAGEURL %>">
        </div>
        <div class="mdc-grid-tile__secondary">
          <div class="mdc-grid-tile__secondary__info">
            <span><%= item.NAME %></span>
            <span>$<%= item.PRICE.toFixed(2) %></span>
          </div>
          <span
            class="mdc-grid-tile__icon mdc-ripple-surface"
            onclick="ShoppingCart.add(<%= JSON.stringify(item) %>)"
            data-mdc-ripple-is-unbounded
          >
            <i class="material-icons">add_shopping_cart</i>
          </span>
        </div>
      </li>
    <% } %>
  </ul>
</div>

<button id="shopping-cart-fab" class="mdc-fab material-icons">
  <span class="mdc-fab__icon">shopping_cart</span>
</button>
