<%- contentFor('body') %>
<div class="mdc-grid-list mdc-grid-list--twoline-caption">
  <ul class="mdc-grid-list__tiles">
    <% let index = 0; %>
    <% for (let item of items) { %>
      <li class="mdc-grid-tile" style="animation-delay: <%= index++ * 50 %>ms">
        <div class="mdc-grid-tile__primary">
          <img class="mdc-grid-tile__primary-content" src="<%= item.IMAGEURL %>">
        </div>
        <div class="mdc-grid-tile__secondary">
          <div class="mdc-grid-tile__secondary__info">
            <span><%= item.NAME %></span>
            <span>$<%= item.PRICE.toFixed(2) %></span>

          </div>

          <div align="right">
            <span >Qty:</span>
              <select id="quantity<%= item.PID%>" name="quantity" >
              <% for (let i = 1; i <= item.QTY; i++) { %>
              <option value="<%= i%>"><%= i%></option>
              <% } %>
            </select>
          </div>
          <span
            class="mdc-grid-tile__icon mdc-ripple-surface"
            onclick="if( !ShoppingCart.add(<%= JSON.stringify(item) %>, ( document.getElementById('quantity<%= item.PID%>').selectedIndex + 1) ) )
              alert('Not enough items are in stock to fulfill this request'); document.getElementById('quantity<%= item.PID%>').selectedIndex = 0;"
            data-mdc-ripple-is-unbounded
          >
              <i  class="material-icons">add_shopping_cart</i>
          </span>

        </div>
      </li>
    <% } %>
  </ul>
</div>

<button id="shopping-cart-fab" class="mdc-fab material-icons">
  <span class="mdc-fab__icon">shopping_cart</span>
</button>

<aside id="shopping-cart-dialog" class="mdc-dialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">Shopping Cart</h2>
    </header>
    <section class="mdc-dialog__body mdc-dialog__body--scrollable">
      <div class="mdc-list mdc-list--avatar-list mdc-list--two-line"></div>
    </section>
    <footer class="mdc-dialog__footer">
      <button
        type="button"
        class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel"
      >
        Close
      </button>
      <button
        type="button"
        class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept"
      >
        Checkout
      </button>
    </footer>
  </div>"
  <div class="mdc-dialog__backdrop"></div>
</aside>
