<<<<<<< HEAD
<%- contentFor('body') %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%- apiKey %>&callback=initializeMap" ></script>
<script src="/js/mapFunctions.js" onload="initialize('<%=apiHost%>');"></script>
<script src="/js/v3_epoly.js"></script>


<section align="center">

  <input id="trackNumInput" type="text"  placeholder="Enter Track#" maxlength="9" size="10" value=""></input>
  <div class="button raised">
    <div class="center" onclick="trackOrder(document.getElementById('trackNumInput').value)" fit>Track Order</div>
    <paper-ripple fit></paper-ripple>
  </div>
</section>
=======
﻿<%- contentFor('body') %>
>>>>>>> 90eef256dba32d899d1a2fee0971263dde6371b4
<div id="map">

</div>

<<<<<<< HEAD
=======
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%- apiKey %>&callback=initializeMap"></script>
<script src="/js/pages/track-orders.js"></script>
<script src="/js/v3_epoly.js"></script>
>>>>>>> 90eef256dba32d899d1a2fee0971263dde6371b4
